@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;600;700;800&family=DM+Mono:ital,wght@0,400;0,500;1,400&family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,400;0,9..40,500;1,9..40,300&display=swap');



:root {
    --color-bg: #0e0f13;
    --color-bg-dim: #0e0f131a;
    --color-surface: #16181f;
    --color-border: #2a2d38;
    --color-text-primary: #e8eaf0;
    --color-text-muted: #6b7080;
    --color-accent: #7c6aff;
    --color-accent-dim: #7c6aff1a;
    --color-accent-light: #a594ff;
    
    
    
    --font-code: 'DM Mono', monospace;
    --font-sans: 'DM Sans', sans-serif;
    --font-all: 'Syne', sans-serif;
    --color-orange: #f5a623;
    --color-orange-light: #f5a62330;
    --color-green: #3dd68c;
    --color-green-light:#3dd68c30;
    --color-blue:#38bdf8;
    --color-blue-light:#38bdf830;
    --color-purple:#7c6aff;
    --color-purple-light:#7c6aff30;
    --color-red: #ff5f7e;
    --color-red-light: #ff5f7e30;
    --color-amber: #f5a623;
    --color-amber-light: #f5a62330;

}
