@use "../../styles/abstracts/mixins" as mix;

.example-section {
    margin-top: 20px;
    border: 1px solid var(--color-text-muted);
    border-radius: 10px;
    font-family: var(--font-code);
    max-width: 950px;
    width: 100%;
    overflow: hidden;

    >.header {
        padding: 10px 20px;
        background-color: var(--color-border);
        @include mix.flex(center, space-between);
        border-bottom: 1px solid var(--color-text-muted);

        >div {
            @include mix.flex(center, flex-start);
            gap: 10px;

            >.dots {
                @include mix.flex(center, flex-start);
                gap: 5px;

                >.dot {
                    height: 10px;
                    width: 10px;
                    border-radius: 10px;
                    background-color: var(--color-red);

                    &:nth-child(2) {
                        background-color: rgb(254, 188, 46);
                    }

                    &:last-child {
                        background-color: var(--color-green);
                    }
                }
            }

            >span {
                font-size: 12px;
            }
        }

        >span {
            padding: 4px 12px;
            background-color: var(--color-accent-dim);
            border: 1px solid var(--color-accent);
            border-radius: 4px;
            font-size: 12px;
            cursor: pointer;
            transition: all .25s ease-in-out;

            &.active {
                background-color: var(--color-accent);
                color: var(--color-text-primary);
            }
        }
    }

    >.code-box {
        padding: 10px 20px;
        min-height: 200px;
        max-height: 500px;
        overflow: auto;
    }
}