 .code-block {
     pre {
         background: transparent !important;
         font-size: 12px;
         line-height: 1.8;
         overflow-x: auto;
     }

     code {
         white-space: pre;
     }
 }