@use "../styles/abstracts/mixins" as mix;

.error-hook {
    @include mix.flex(stretch, center);
    margin-top: 40px;
    margin-bottom: 40px;

    >.card {
        border: 1px solid var(--color-border);
        border-radius: 4px;
        padding: 40px;
        @include mix.flex-dir(column, center, flex-start);
        gap: 20px;
    }
}

@include mix.mobile() {
    .error-hook {
        >.card {
            padding: 20px 10px;
        }
    }
}
