@use "../styles/abstracts/mixins" as mix;

.error-page {
    background-color: var(--color-bg);
    @include mix.flex(center, center);
    min-height: 100dvh;

    .card {
        border: 1px solid var(--color-border);
        border-radius: 4px;
        @include mix.flex-dir(column, center, center);
        gap: 30px;
        padding: 70px;



    }
}

@include mix.mobile() {
    .error-page {

        .card {
            padding: 20px;
        }
    }
}