@use "../../styles/abstracts/mixins" as mix;
footer {
    @include mix.flex(center,center);
    border-top: 1px solid var(--color-border);

    >p {
        @include mix.flex(center,center);
        gap: 5px;
        padding: 10px 0px;
        color: var(--color-text-muted);
        font-size: 14px;

        svg{
            &:last-child{
                color: var(--color-accent);
            }
        }
    }
}