footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid var(--color-border);

    >p {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        padding: 10px 0px;
        color: var(--color-text-muted);
        font-size: 14px;

        svg{
            &:last-child{
                color: var(--color-accent);
            }
        }
    }
}